In [3]:
## üì• 1. Import Libraries

In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [ ]:
## üßæ 2. Load Example Dataset

In [5]:
# Example dataset with missing and categorical values
data = {
'Age': [25, 30, np.nan, 22, 28],
'Salary': [50000, 54000, 58000, np.nan, 62000],
'City': ['Delhi', 'Mumbai', 'Delhi', 'Bangalore', np.nan],
'Purchased': ['Yes', 'No', 'Yes', 'No', 'Yes']
}

df = pd.DataFrame(data)
print("Original Data:")
print(df)

Original Data:
    Age   Salary       City Purchased
0  25.0  50000.0      Delhi       Yes
1  30.0  54000.0     Mumbai        No
2   NaN  58000.0      Delhi       Yes
3  22.0      NaN  Bangalore        No
4  28.0  62000.0        NaN       Yes

In [6]:
## üîß 3. Handle Missing Values

In [9]:
# Fill numerical columns with mean
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())

# Fill categorical column with mode
df['City'] = df['City'].fillna(df['City'].mode()[0])
print("After Handling Missing Values:")
print(df)

After Handling Missing Values:
     Age   Salary       City Purchased
0  25.00  50000.0      Delhi       Yes
1  30.00  54000.0     Mumbai        No
2  26.25  58000.0      Delhi       Yes
3  22.00  56000.0  Bangalore        No
4  28.00  62000.0      Delhi       Yes

In [10]:
## üè∑Ô∏è 4. Encode Categorical Variables

In [29]:
# Encode 'City' using LabelEncoder
le_city = LabelEncoder()
df['City'] = le_city.fit_transform(df['City'])

# Encode 'Purchased'
df['Purchased'] = df['Purchased'].map({'Yes': 1, 'No': 0})

print("Encoded Data:")
print(df)

Encoded Data:
        Age  Salary  City  Purchased
0 -0.461069    -1.5     1        NaN
1  1.383208    -0.5     2        NaN
2  0.000000     0.5     1        NaN
3 -1.567636     0.0     0        NaN
4  0.645497     1.5     1        NaN

In [24]:
## ‚öñÔ∏è 5. Feature Scaling

In [14]:
# Standardize numerical columns\n",
scaler = StandardScaler()
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])
print("Scaled Data:")
print(df)

Scaled Data:
        Age  Salary  City  Purchased
0 -0.461069    -1.5     1        NaN
1  1.383208    -0.5     2        NaN
2  0.000000     0.5     1        NaN
3 -1.567636     0.0     0        NaN
4  0.645497     1.5     1        NaN

In [15]:
## ‚úÇÔ∏è 6. Train-Test Split

In [17]:
X = df[['Age', 'Salary', 'City']]
y = df['Purchased']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
print("Training Set:")
print(X_train)
print("Test Set:")
print(X_test)

Training Set:
        Age  Salary  City
2  0.000000     0.5     1
0 -0.461069    -1.5     1
3 -1.567636     0.0     0
Test Set:
        Age  Salary  City
1  1.383208    -0.5     2
4  0.645497     1.5     1